#String Based Assignment Problem :

1. Write a program to reverse a string.

In [ ]:
# Assigning a random string to a variable
s = "Rushikesh"

# Printing a reverse of string with slicing method
print(s[::-1])

hsekihsuR

2. Check if a string is a palindrome.

In [ ]:
# Assign string to a variable
s = "Rushi"

#Conditional statement to check string reads the same forwards and backwards
if s == s[::-1]:
  print("String is palindrome")
else:
  print("String is not palindrome")

String is not palindrome

3. Convert a string to uppercase.

In [ ]:
# Assigning a random string to a variable
s = "Rushikesh"

# Printing a uppercase converted string
print(s.upper())

RUSHIKESH

4. Convert a string to lowercase.

In [ ]:
# Assigning a random string to a variable
q = "RUSHI"

# Printing a lowercase converted string
print(q.lower())

rushi

5. Count the number of vowels in a string.

In [ ]:
# Assigning a random string to a variable
t = "Physics Wallah Skills"

# Assigning all vowels to a variable
vowels = "aeiouAEIOU"
count = 0

#loop to iterate all vowels in string
for v in vowels:
  if v in t:
    count += 1

#print count of vowels in string
print(count)

2

6. Count the number of consonants in a string.

In [ ]:
# Assigning a random string to a "str" variable
st = "Physics Wallah Skills"

# Assigning all vowels to a variable
vowels = "aeiouAEIOU"
count = 0

# loop to iterate all vowels in string to find consonant
for v in vowels:
  if v not in st:
    count += 1

# print number of consonants
print(count)

8

7. Remove all whitespaces from a string.

In [ ]:
# Assigning a random string to a "str" variable
st = "Physics Wallah Skills"

# removing all white spaces and printing updated string
print(st.replace(" ",""))

PhysicsWallahSkills

8. Find the length of a string without using the `len()` function.

In [ ]:
# Assigning a random string to a "str" variable
r = "Physics Wallah Skills"
leng = 0

# create a loop to count the lenth
for x in r:
  if x in r:
    leng += 1

# Printing the lenth of string
print(leng)

21

9. Check if a string contains a specific word.

In [ ]:
# Assigning a random string to a "str" variable
s = "Physics Wallah Skills"

# checking if given string contains "SKills"
check = s.find("Skills")
if check >= 0:
  print("This string contains a word 'Skills'.")
else:
    print("This string does not contain a word 'Skills'.")

This string contains a word 'Skills'.

10. Replace a word in a string with another word.

In [ ]:
# Assigning a random string to a "str" variable
s = "Physics Wallah Skills"

# Replacing "Wallah" with "Bharat"
print(s.replace("Wallah","Bharat"))

Physics Bharat Skills

11. Count the occurrences of a word in a string.

In [ ]:
# Assigning a random string to a variable
s = "Jai shree Ram Jai Shree Ram Jai Shree Ram"

# printing count of word "Jai"
print(s.count("Jai"))

3

12. Find the first occurrence of a word in a string.

In [ ]:
# Assigning a random string to a variable
st = "Physics Wallah Skills of Skills for Skills"

# Finding index of first occurance of a word "Skills"
print("word 'Skills' is at "+ str(st.find("Skills")) + "th index")

# Another way to find index first occurance of same above word
print("word 'Skills' is at "+ str(st.index("Wallah")) + "th index")

word 'Skills' is at 15th index
word 'Skills' is at 8th index

13. Find the last occurrence of a word in a string.

In [ ]:
# Assigning a random string to a variable
st = "Physics Wallah Skills of Skills for Skills class"

# Finding index of last occurance of a word "Skills"
print("word 'Skills' is at "+ str(st.rfind("Skills")) + "th index")

# Another way to find index last occurance of same above word
print("word 'Skills' is at "+ str(st.rindex("Wallah")) + "th index")

word 'Skills' is at 36th index
word 'Skills' is at 8th index

14. Split a string into a list of words.

In [ ]:
# Assigning a random string to a variable
st = "Physics Wallah Skills of Skills for Skills class"

#splitting string into list
print(st.split())

15. Join a list of words into a string.

In [ ]:
# Assigning a random list to a variable
st = ['Physics', 'Wallah', 'Skills', 'of', 'Skills', 'for', 'Skills', 'class']

# print joined string
print(" ".join(st))

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [ ]:
# Assigning a random string to a variable
st = "Physics Wallah Skills of Skills for Skills class"

# Printing a string which is converted from spaces with underscores
print(st.replace(" ","_"))

17. Check if a string starts with a specific word or phrase.

In [ ]:
# Assigning a random string to a variable
st = "Physics Wallah Skills of Skills for Skills class"

# Checking if a string starts with a specific word or phrase.
if st.find("Physics") == 0:
  print('string starts witha "Physics"')
elif st.find("Skills") == 0:
  print('string starts witha "Skills"')
else:
  print('string does not start witha above words')

18. Check if a string ends with a specific word or phrase.

In [ ]:
# Assigning a random string to a variable
st = "Physics Wallah Skills of Skills for Skills class"

# Checking if a string starts with a specific word or phrase.
if st.rfind("Physics") == -1:
  print('string ends witha "Physics"')
elif st.rfind("Skills") == -1:
  print('string ends witha "Skills"')
else:
  print('string does not ends witha above words')

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
# Assigning a random string to a variable
st = "hello world"

# conb=verting given string into title case
print(st.title())

20. Find the longest word in a string.

In [ ]:
# Give a string
str = "Binary Study Python programming made easy"
word_list = str.split()

# Find the longest word
longest_word = max(word_list, key=len)
print(longest_word)

21. Find the shortest word in a string.

In [ ]:
str = "Binary Study Python programming made easy"
y = str.split()

print(min(y,key=len))

22. Reverse the order of words in a string.

In [ ]:
# Give a string
str = "Binary Study Python programming made easy"

#split string into list of words
y = str.split()

#reverse list
y = y[::-1]

# convert list into string
print(" ".join(y))

23. Check if a string is alphanumeric.

In [ ]:
# Give a string
str = "Binary Study Python programming made easy"

print(str.isalnum())

24. Extract all digits from a string.

In [ ]:
# Give a string
str = "Binary 3478 Study Py4q3thon progra435mming made easy"

#Create a empty list
lst = []

#accessing every letter from string
for i in str:
  if i.isnumeric():
    lst.append(i)

# print all extracted digits
print(lst)

25. Extract all alphabets from a string.

In [ ]:
# Give a string
str = "Binary 3478 Study Py4q3thon progra435mming made easy"

#Create a empty list
lst = []

#accessing every letter from string
for i in str:
  if i.isalpha():
    lst.append(i)

# print all extracted digits
print(lst)

26. Count the number of uppercase letters in a string.

In [ ]:
# Give a string
str = "Binary 3478 Study Py4q3thon Progra435mming made Easy"

#Initialize number of uppercase as a variable
count = 0

#accessing every letter from string
for i in str:
  if i.isupper():
    count += 1

# print count of number of uppercase letters in a given string
print(count)

27. Count the number of lowercase letters in a string.

In [ ]:
# Give a string
str = "Binary 3478 Study Py4q3thon Progra435mming made Easy"

#Initialize number of uppercase as a variable
count = 0

#accessing every letter from string
for i in str:
  if i.islower():
    count += 1

# print count of number of uppercase letters in a given string
print(count)

28. Swap the case of each character in a string.

In [ ]:
# Give a string
str = "Binary 3478 Study Py4q3thon Progra435mming made Easy"

new_str = []
#accessing every letter from string
for i in str:
  if i.isupper():
    i = i.lower()
    new_str.append(i)
  else:
    i = i.upper()
    new_str.append(i)


print("Given String before swapping : ",str)
print("String after swapping cases : ","".join(new_str))

29. Remove a specific word from a string.

In [ ]:
# Give a string
str = "Binary 3478 Study Py4q3thon Progra435mming made Easy"

print(str.replace("Study",""))

30. Check if a string is a valid email address.

In [ ]:
import re

#assign a email id to a varibale
s = "popular_website15@comPany.com"

# assign all possible alphanums to a  variable
pat = "^[a-zA-Z0-9-_]+@[a-zA-Z0-9]+\.[a-z]{1,3}$"

# Give a condition if all possible aplhanums are matching given email or not
if re.match(pat,s):
  print(True)
else:
  print(False)

31. Extract the username from an email address string.

In [ ]:
# assign a email to variable
id = "rushikesh@gmail.com"

# slicing username from an email
print(id[:id.index('@')])

32. Extract the domain name from an email address string.

In [ ]:
# assign a email to variable
id = "rushikesh@gmail.com"

# slicing username from an email
print(id[id.index('@')+1:])

33. Replace multiple spaces in a string with a single space.

In [ ]:
# Assign a string with multiple spaces
str = "reiugh ergerbn  gresg    ergbg  gegbeg ergrhgbjger   eurighbg rujh"

# Spliting into list
lst = str.split()

# Rejoin list into string
print(" ".join(lst))

34. Check if a string is a valid URL.

In [ ]:
id = "http:/www.google.com"

if id.startswith("http:/" or "https:/"):
  print("URL is Valid")
else:
  print("URL is not valid")

35. Extract the protocol (http or https) from a URL string.

In [ ]:
id = "http:/www.google.com"

print(id[0:id.index(':')])

36. Find the frequency of each character in a string.

In [ ]:
# Give a string
str = "Binary Study Python Programming made Easy"

dict = {}

for i in str:
  if i in dict:
    dict[i] += 1
  else:
    dict[i] = 1

print(dict)

{'B': 1, 'i': 2, 'n': 3, 'a': 4, 'r': 3, 'y': 4, ' ': 5, 'S': 1, 't': 2, 'u': 1, 'd': 2, 'P': 2, 'h': 1, 'o': 2, 'g': 2, 'm': 3, 'e': 1, 'E': 1, 's': 1}

37. Remove all punctuation from a string.

In [ ]:
import string

# Give a string
str = "Binary !#$%&'()*+, `{|}~Study Python Pro-./:;<=>?@[\]^_ing made Easy"

for i in str:
  if i in string.punctuation:

    str = str.replace(i,"")


print(str)

Binary  Study Python Proing made Easy

38. Check if a string contains only digits.

In [ ]:
# Give a string
str = "bin23ary !#$%&'()*+, `{|}~Stu43dy Python Pro-./:;<=>?@[\]^_ing 34made E4asy"

if str.isdigit():
  print("string is of only digits")
else:
  print("string is not having only digits")

string is of only digits

39. Check if a string contains only alphabets.

In [ ]:
# Give a string
str = "bin23ary !#$%&'()*+, `{|}~Stu43dy Python Pro-./:;<=>?@[\]^_ing 34made E4asy"

if str.isalpha():
  print("string is of only alphabets")
else:
  print("string is not having only alphabets")

string is not having only alphabets

40. Convert a string to a list of characters.

In [ ]:
# Give a string
str = "bin23ary ing 34made E4asy"

lst = []
for i in str:
  lst.append(i)

print(lst)

['b', 'i', 'n', '2', '3', 'a', 'r', 'y', ' ', 'i', 'n', 'g', ' ', '3', '4', 'm', 'a', 'd', 'e', ' ', 'E', '4', 'a', 's', 'y']

41. Check if two strings are anagrams.

In [ ]:
# assign two strings to two different variables
a = input("Enter first string: ")
b = input("Enter second string: ")

if sorted(a) == sorted(b):
  print("Two strings are anagrams.")
else:
  print("Two strings are not anagrams.")

Enter first string: silent
Enter second string: listen
Two strings are anagrams.

42. Encode a string using a Caesar cipher.

In [ ]:
#A python program to illustrate Caesar Cipher Technique
text = "ATTACKATONCE"
s = 4
result = ""

# traverse text
for i in range(len(text)):
  char = text[i]

  # Encrypt uppercase characters
  if (char.isupper()):
    result += chr((ord(char) + s-65) % 26 + 65)

  # Encrypt lowercase characters
  else:
    result += chr((ord(char) + s - 97) % 26 + 97)

print(result)

EXXEGOEXSRGI

43. Decode a Caesar cipher encoded string.

In [ ]:
message = "EXXEGOEXSRGI"
alpha = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
result = ""

for letter in message:
    if letter in alpha: #if the letter is actually a letter
        #find the corresponding ciphertext letter in the alphabet
        letter_index = (alpha.find(letter) - 65) % len(alpha)

        result = result + alpha[letter_index]
    else:
        result = result + letter

print(result)

RKKRTBRKFETV

44. Find the most frequent word in a string.

In [ ]:
# Assigning a string into a variable
st = "Jai shree ram Jai Jai shree ram Jai Jai shree ram"

# Splitting all words into list
new_st = st.split()

#creating a set of unique words from list
unique_words = set(new_st)

#creating a empty dictionary
dict = {}

#iterating all words
for i in unique_words:

  #appending key value pairs of each words and its frequency in dictionary
  dict.update({i:new_st.count(i)})

  # if value of specific value of a key in dictionary is same as max of value in dictionary
  if dict[i]==max(dict.values()):
    most_fre_word = i

# Printing most frequent word
print(most_fre_word)

Jai

45. Find all unique words in a string.

In [ ]:
# Assigning a string into a variable
st = "Jai shree ram Jai Jai shree ram Jai Jai shree ram"

# creating a list of all words
lt = st.split()

# Creating a set of unique words
unique_words = set(lt)

print(unique_words)

{'Jai', 'ram', 'shree'}

46. Count the number of syllables in a string.

In [ ]:
word = "Rushikesh"
word = word.lower()
count = 0
vowels = "aeiouy"
if word[0] in vowels:
    count += 1
for index in range(1, len(word)):
    if word[index] in vowels and word[index - 1] not in vowels:
        count += 1
if word.endswith("e"):
    count -= 1
if count == 0:
    count += 1

print(count)

3

47. Check if a string contains any special characters.

In [ ]:
# Assigning all special characters as a string in a variable
str = "@#$&%!~"

# Assigning a random string to a varibale
var = "Rushi@keshSadana&ndJo%harkar"

for i in str:
  if i in var:
    print("String contains special characters")
    break
else:
  print("String does not contain any special characters")

String contains special characters

48. Remove the nth word from a string.

In [ ]:
# Assigning a random string to a varibale
var = "Rushi@kesh Sadana&nd Jo%harkar"

n = int(input("Enter the index of which word you want to remove from string: "))

# Split string of words into list
lt = var.split()

# removing nth word from a string
lt.remove(lt[n])

# printing updated string
print(lt)

Enter the index of which word you want to remove from string: 1
['Rushi@kesh', 'Jo%harkar']

49. Insert a word at the nth position in a string.

In [ ]:
# Assigning a random string to a varibale
var = "Rushi@kesh Sadana&nd Jo%harkar"

w = input("enter a word: ")
n = int(input("Enter the index where user want to insert a word in string: "))

# Split string of words into list
lt = var.split()

# inserting a word at nth index in a string
lt.insert(n,w)

# printing updated string
print(lt)

enter a word: Shri
Enter the index where user want to insert a word in string: 2
['Rushi@kesh', 'Sadana&nd', 'Shri', 'Jo%harkar']

50. Convert a CSV string to a list of lists.

In [ ]:
import csv

csv_string = "'string, duppi, du', 23, lala"

lt = csv.reader(csv_string)

lst = list(lt)

print(lst)

[["'"], ['s'], ['t'], ['r'], ['i'], ['n'], ['g'], ['', ''], [' '], ['d'], ['u'], ['p'], ['p'], ['i'], ['', ''], [' '], ['d'], ['u'], ["'"], ['', ''], [' '], ['2'], ['3'], ['', ''], [' '], ['l'], ['a'], ['l'], ['a']]

# List Based Assignment Problem :

1. Create a list with integers from 1 to 10.

In [ ]:
lt = []
for i in range(1,11):
  lt.append(i)

print(lt)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

count = 0

for i in l:
  count += 1

print(count)

10

3. Append an element to the end of a list.

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

l.append(34)

print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 34]

4. Insert an element at a specific index in a list.

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#inserting a element "rushi" at 5th index
l.insert(5,"rushi")

print(l)

[1, 2, 3, 4, 5, 'rushi', 6, 7, 8, 9, 10]

5. Remove an element from a list by its value.

In [ ]:
l = [1, 2, 3, 4, 5, 'rushi', 6, 7, 8, 9, 10]

l.remove('rushi')

print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

6. Remove an element from a list by its index

In [ ]:
l = [1, 2, 3, 4, 5, 'rushi', 6, 7, 8, 9, 10]

l.remove(l[2])

print(l)

[1, 2, 4, 5, 'rushi', 6, 7, 8, 9, 10]

7. Check if an element exists in a list.

In [ ]:
l = [1, 2, 3, 4, 5, 'rushi', 6, 7, 8, 9, 10]

t = 10

if t in l:
  print("An element",t, "exists in list")
else:
  print("Doesn't exists")

An element 10 exists in list

8. Find the index of the first occurrence of an element in a list.

In [ ]:
l = [1, 2, 3, 4, 5, 'rushi', 6, 7,'rushi', 8, 9, 10]

print(l.index('rushi'))

5

9. Count the occurrences of an element in a list.

In [ ]:
l = [1, 2, 3, 4, 5,'rushi', 6, 7,'rushi', 8, 9, 10]

print(l.count("rushi"))

2

10. Reverse the order of elements in a list.

In [ ]:
l = [1, 2, 3, 4, 5,'rushi', 6, 7,'rushi', 8, 9, 10]

reverse_list = l[::-1]

print(reverse_list)

[10, 9, 8, 'rushi', 7, 6, 'rushi', 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [ ]:
l = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
l.sort()

print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

12. Sort a list in descending order.

In [ ]:
from traitlets.config import T
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

l.sort(reverse=True)

print(l)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [ ]:
lst = []

for i in range(1,21):
  if i%2 == 0:

    lst.append(i)

print(lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [ ]:
lst = []

for i in range(1,21):
  if i%2 != 0:

    lst.append(i)

print(lst)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [ ]:
s = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

y = sum(s)

print(y)

110

16. Find the maximum value in a list.

In [ ]:
s = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(max(s))

20

17. Find the maximum value in a list.

In [ ]:
s = [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

print(min(s))

2

18. Create a list of squares of numbers from 1 to 10.

In [ ]:
l = []

for i in range(1,11):
  l.append(i**2)

print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [ ]:
l = [1,324,25,12,1231,5345,4515,34,245,235,223,54]

print(l)

[1, 324, 25, 12, 1231, 5345, 4515, 34, 245, 235, 223, 54]

20. Remove duplicates from a list

In [ ]:
l = [1,4515,25,12,235,12,4515,1,25,235,1,54]

new_l =[]

for i in l:
  if i not in new_l:
    new_l.append(i)

print(new_l)

[1, 4515, 25, 12, 235, 54]

21. Find the common elements between two lists.

In [ ]:
l = [1,4515,25,12,235,12,4515,1,25,235,1,54]
m = [1, 4515, 25, 12, 235, 54]

l = set(l)
m = set(m)

for i in m:
  if i in m:
    print(i, end=" ")

1 4515 235 12 54 25

22. Find the difference between two lists.

In [ ]:
li1 = [10, 15, 20, 25, 30, 35, 40]
li2 = [25, 40, 35]

s = set(li2)
temp3 = [x for x in li1 if x not in s]
print(temp3)

[10, 15, 20, 30]

23. Merge two lists.

In [ ]:
li1 = [10, 15, 20, 25, 30, 35, 40]
li2 = [25, 40, 35]

l3 = li1 + li2

print(l3)

[10, 15, 20, 25, 30, 35, 40, 25, 40, 35]

24. Multiply all elements in a list by 2.

In [ ]:
l = [10, 15, 20, 25, 30, 35, 40, 25, 40, 35]

l2 = [i*2 for i in l]

print(l2)

[20, 30, 40, 50, 60, 70, 80, 50, 80, 70]

25. Filter out all even numbers from a list.

In [ ]:
l = [10, 15, 20, 25, 30, 35, 40, 25, 40, 35]

l2 = [x for x in l if x%2 == 0]

print(l2)

[10, 20, 30, 40, 40]

26. Convert a list of strings to a list of integers.

In [ ]:
test_list = ['1', '4', '3', '6', '7']

# using loop
for i in range(0, len(test_list)):
	test_list[i] = int(test_list[i])

# Printing modified list
print("Modified list is : " + str(test_list))

Modified list is : [1, 4, 3, 6, 7]

27. Convert a list of integers to a list of strings.

In [ ]:
test_list = [1, 4, 3, 6, 7]

# using loop
for i in range(0, len(test_list)):
	test_list[i] = str(test_list[i])

# Printing modified list
print("Modified list is : " + str(test_list))

Modified list is : ['1', '4', '3', '6', '7']

28. Flatten a nested list.

In [ ]:
matrix = [
     [9, 3, 8, 3],
     [4, 5, 2, 8],
     [6, 4, 3, 1],
     [1, 0, 4, 5]]

flat_list = []

for row in matrix:
  flat_list.extend(row)
print(flat_list)

[9, 3, 8, 3, 4, 5, 2, 8, 6, 4, 3, 1, 1, 0, 4, 5]

29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
n = 10
num1 = 0
num2 = 1
next_number = num2
count = 1
l = []
while count <= n:
	l.append(next_number)
	count += 1
	num1, num2 = num2, next_number
	next_number = num1 + num2
print(l)

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

30. Check if a list is sorted.

In [ ]:
# random list
lt = [1, 2, 3, 5, 8, 13, 21, 34,2, 12,55, 89]

# sorted list of given list
lt2 = [1, 2, 2, 3, 5, 8, 12, 13, 21, 34, 55, 89]


count = 0
for i in range(0,len(lt)):

  if lt[i] == lt2[i]:
    count += 1
else:
  print("list is not sorted")

if count == len(lt):
  print("list is sorted")

list is not sorted

31. Rotate a list to the left by `n` positions.

In [ ]:
# random list
lt = [1, 2, 3, 5, 8, 13, 21, 34,2, 12,55, 89]

#rotate list left by 3
lt2 = lt[3:] + lt[:3]

print(lt2)

[5, 8, 13, 21, 34, 2, 12, 55, 89, 1, 2, 3]

32. Rotate a list to the right by `n` positions.

In [ ]:
# random list
lt = [1, 2, 3, 5, 8, 13, 21, 34,2, 12,55, 89]

#rotate list right by 3
lt2 = lt[-3:] + lt[:-3]

print(lt2)

[12, 55, 89, 1, 2, 3, 5, 8, 13, 21, 34, 2]

33. Create a list of prime numbers up to 50.

In [ ]:
lt = [1]
count = 0
for i in range(2,51):
  for j in range(2,i):
    if i%j == 0:
      break
  else:
    lt.append(i)

print(lt)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [ ]:
my_list = [1, 2, 3, 4, 5,
		6, 7, 8, 9]
start = 0
end = len(my_list)
step = 3
for i in range(start, end, step):
	x = i
	print(my_list[x:x+step])

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

35. Find the second largest number in a list

In [ ]:
# random list
lt = [1, 2, 3, 5, 8, 13, 21, 34,2, 12,55, 89]

lt.sort()

# printing second largest number
print(lt[-2])

55

In [ ]:
o

36. Replace every element in a list with its square.

In [ ]:
# random list
lt = [1, 2, 3, 5, 8, 13, 21, 34,2, 12,55, 89]

for i in range(0,len(lt)):
  lt[i] = lt[i]**2

print(lt)

[1, 4, 9, 25, 64, 169, 441, 1156, 4, 144, 3025, 7921]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [ ]:
# random list
lt = [1, 2, 3, 5, 8, 13, 21, 34,2, 12,55, 89]

dict = {}

for i in range(0,len(lt)):
  dict.update({lt[i]:i})

print(dict)

{1: 0, 2: 8, 3: 2, 5: 3, 8: 4, 13: 5, 21: 6, 34: 7, 12: 9, 55: 10, 89: 11}

38. Shuffle the elements of a list randomly.

In [ ]:
import random
# random list
lt = [1, 2, 3, 5, 8, 13, 21, 34,2, 12,55, 89]

random.shuffle(lt)

print(lt)

[3, 1, 8, 21, 34, 5, 12, 2, 13, 55, 2, 89]

39. Create a list of the first 10 factorial numbers.

In [ ]:
fact = 1
for i in range(1,11):
  fact = fact * i
  print(f"Factorial of {i} is {fact}")

Factorial of 1 is 1
Factorial of 2 is 2
Factorial of 3 is 6
Factorial of 4 is 24
Factorial of 5 is 120
Factorial of 6 is 720
Factorial of 7 is 5040
Factorial of 8 is 40320
Factorial of 9 is 362880
Factorial of 10 is 3628800

40. Check if two lists have at least one element in common.

In [ ]:
# Asssigning two lists to 2 different variables
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]

for i in a:
  for j in b:
    if i == j:
      print(f"{i} is common in both lists")
    else:
      pass

5 is common in both lists

41. Remove all elements from a list.

In [ ]:
# assigning a list to a variable
a = [1, 2, 3, 4, 5]
print(a)
print("\n")

# removing all elements from list
a.clear()
print(f"After removing all elements, the list is : {a}")

[1, 2, 3, 4, 5]


After removing all elements, the list is : []

42. Replace negative numbers in a list with 0.

In [ ]:
# assigning a list to a variable
a = [-1, 2, -3, -4, 5, -8]

for i in a:
  if a[i]<0:
    a[i]=0

print(a)

[0, 2, 0, -4, 5, 0]

43. Convert a string into a list of words.

In [ ]:
# Assigning a string to a variable
a = "Check if two lists have at least one element in common."

print(a.split())

['Check', 'if', 'two', 'lists', 'have', 'at', 'least', 'one', 'element', 'in', 'common.']

44. Convert a list of words into a string.

In [ ]:
# Assigning a list to a variable
a = ['Check', 'if', 'two', 'lists', 'have', 'at', 'least', 'one', 'element', 'in', 'common.']

# printing a converted string from list of words
print(" ".join(a))

Check if two lists have at least one element in common.

45. Create a list of the first `n` powers of 2.

In [ ]:
# Taking the value of n from user
n = int(input("Enter value of n: "))

print(f"List of first {n} powers of 2 is : {list(2**i for i in range(1,n+1))}")

Enter value of n: 10
List of first 10 powers of 2 is : [2, 4, 8, 16, 32, 64, 128, 256, 512, 1024]

46. Find the longest string in a list of strings.

In [ ]:
# Assigning a list of strigs to a variable
a = ['Check', 'if', 'two', 'lists', 'have', 'at', 'least', 'one', 'element', 'in', 'common']

dict = {}

count = 0
for i in a:
  for j in i:
    count += 1
  dict.update({i:count})
  count = 0


for m,n in dict.items():
  if n == max(dict.values()):
    k = m

print(f"Longest string in given list of strings is: '{k}'")

Longest string in given list of strings is: 'element'

47. Find the shortest string in a list of strings.

In [ ]:
# Assigning a list of strigs to a variable
a = ['Check', 'if', 'two', 'lists', 'have', 'at', 'least', 'one', 'element', 'in', 'common']

dict = {}

count = 0
for i in a:
  for j in i:
    count += 1
  dict.update({i:count})
  count = 0


for m,n in dict.items():
  if n == min(dict.values()):
    k = m

print(f"Shortest string in given list of strings is: '{k}'")

Shortest string in given list of strings is: 'in'

48. Create a list of the first `n` triangular numbers.

In [ ]:
n = int(input("Enter a number 'n' : "))

j = 1
k = 1
l = []
for i in range(0,n+1):
  l.append(k)
  j += 1
  k += j



print(f"List of first {n} numbers is : {l}")

Enter a number 'n' : 10
List of first 10 numbers is : [1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66]

49. Check if a list contains another list as a subsequence.

In [ ]:
# Python3 code to demonstrate working of
# Check for Sublist in List

# initializing list
test_list = [5, 6, 3, 8, 2, 1, 7, 1]

# printing original list
print("The original list : " + str(test_list))

# initializing sublist
sublist = [8, 2, 7]

# Check for Sublist in List
if set(sublist).intersection(set(test_list)) == set(sublist):
	res = True
else:
	res = False

# printing result
print("Is sublist present in list ? : " + str(res))

The original list : [5, 6, 3, 8, 2, 1, 7, 1]
Is sublist present in list ? : True

50. Swap two elements in a list by their indices.

In [ ]:
List = [23, 65, 19, 90]
pos1, pos2  = 1, 3

List[pos1], List[pos2] = List[pos2], List[pos1]
print(List)

[23, 90, 19, 65]

#Tuple Based Assignment Problem :

1. Create a tuple with integers from 1 to 5.

In [ ]:
t = (1,2,3,4,5)

print(t)
print(type(t))

(1, 2, 3, 4, 5)
<class 'tuple'>

2. Access the third element of a tuple.

In [ ]:
t = (1,2,3,4,5)

print(t[2])

3

3. Find the length of a tuple without using the `len()` function.

In [ ]:
t = (1,2,3,4,5)

count = 0
for i in t:
  count += 1

print(f"length of a tuple is {count}")

length of a tuple is 5

4. Count the occurrences of an element in a tuple.

In [ ]:
t = (1,2,1,4,3,2,6,2,9,5,4,5)
s = set(t)
dict = {}

for i in s:
  a = t.count(i)
  print(f"occurance of {i} in tuple is {a}")

occurance of 1 in tuple is 2
occurance of 2 in tuple is 3
occurance of 3 in tuple is 1
occurance of 4 in tuple is 2
occurance of 5 in tuple is 2
occurance of 6 in tuple is 1
occurance of 9 in tuple is 1

5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
t = (1,2,1,9,4,3,2,6,2,9,5,4,5)
element = 9

print(t.index(element))

3

6. Check if an element exists in a tuple.

In [ ]:
t = (1,2,1,9,4,3,2,6,2,9,5,4,5)

if 10 in t:
  print(True)
else:
  print(False)

False

7. Convert a tuple to a list.

In [ ]:
t = (1,2,1,9,4,3,2,6,2,9,5,4,5)

l = list(t)

print(f"converted list is : {l}")

converted list is : [1, 2, 1, 9, 4, 3, 2, 6, 2, 9, 5, 4, 5]

8. Convert a list to a tuple.

In [ ]:
l = [1, 2, 1, 9, 4, 3, 2, 6, 2, 9, 5, 4, 5]

t = tuple(l)

print(f"tuple = {t}")

tuple = (1, 2, 1, 9, 4, 3, 2, 6, 2, 9, 5, 4, 5)

9. Unpack the elements of a tuple into variables.

In [ ]:
l = (1, 2, 1, 9, 4, 3, 2, 6, 2, 9, 5, 4, 5)

for j in l:
  for i in range(97,123):
    print(f"{chr(i)} = '{j}'")
    break

a = '1'
a = '2'
a = '1'
a = '9'
a = '4'
a = '3'
a = '2'
a = '6'
a = '2'
a = '9'
a = '5'
a = '4'
a = '5'

10. Create a tuple of even numbers from 1 to 10.

In [ ]:
t = []

for i in range(1,11):
  if i%2 == 0:
    t.append(i)

print(tuple(t))

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
t = []

for i in range(1,11):
  if i%2 != 0:
    t.append(i)

print(tuple(t))

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [ ]:
a = (2, 4, 6, 8, 10)
b = (1, 3, 5, 7, 9)

print(a+b)

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

13. Repeat a tuple three times.

In [ ]:
a = (2, 4, 6, 8, 10)
print(a*3)

(2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10)

14. Check if a tuple is empty.

In [ ]:

def empty(*x):
  for i in x:

    if len(i)<=0:
      print(f"{i} is empty")
    else:
      print(f"{i} is not empty")

a = (2, 4, 6, 8, 10)
b = ()

empty(a,b)

(2, 4, 6, 8, 10) is not empty
() is empty

15. Create a nested tuple.

In [ ]:
x = ((3, (5, 6)))

16. Access the first element of a nested tuple.

In [ ]:
x = ((3, (5, 6)))

print(x[0])

3

17. Create a tuple with a single element.

In [ ]:
x = ("a",)
print(x)

('a',)

18. Compare two tuples.

In [ ]:
a = (2, 4, 6, 8, 10)
b = (1, 3, 5, 7, 9)
count=0
for i in a:
  for j in b:

    if i>j:
      count+=1
    break

if count == 5:
  print("tuple a is bigger than b")
else:
  print("tuple a is smaller than b")

tuple a is bigger than b

19. Delete a tuple.

In [ ]:
a = (2, 4, 6, 8, 10)
del(a)

20. Slice a tuple.

In [ ]:
a = (2, 4, 6, 8, 10)
print(a[1:3])

(4, 6)

21. Find the maximum value in a tuple.

In [ ]:
a = (2, 4, 6, 8, 10)
print(max(a))

10

22. Find the minimum value in a tuple.

In [ ]:
a = (2, 4, 6, 8, 10)
print(min(a))

2

23. Convert a string to a tuple of characters.

In [ ]:
s = "PW SKILLS"
l=[]
for i in s:
  l.append(i)

result = tuple(l)
print(result)

('P', 'W', ' ', 'S', 'K', 'I', 'L', 'L', 'S')

24. Convert a tuple of characters to a string.

In [ ]:
t=('P', 'W', ' ', 'S', 'K', 'I', 'L', 'L', 'S')
s = "".join(t)

print(s)

PW SKILLS

25. Create a tuple from multiple data types.

In [ ]:
#Create a tuple with different data types
tuplex = ("tuple", False, 3.2, 1)
print(tuplex)

('tuple', False, 3.2, 1)

26. Check if two tuples are identical.

In [ ]:
tuplex = ("tuple", False, 3.2, 1)
tu = ("tuple",True,2.3,1)
c = 0
for i in tuplex:
  for j in tu:
    if i==j:
      c+=1
    else:
      print("two tuples are not identical")
      break
  break
if c == len(tuplex):
  print("Two tuples are identical")

two tuples are not identical

27. Sort the elements of a tuple.

In [ ]:
d = (2,1,5,3,8,2,4,6,0,2,4)
l = list(d)
l.sort()
d = tuple(l)
print(d)

(0, 1, 2, 2, 2, 3, 4, 4, 5, 6, 8)

28. Convert a tuple of integers to a tuple of strings.

In [ ]:
d = (2,1,5,3,8,2,4,6,0,2,4)

l = []
for i in d:
  l.append(f"{i}")

d = tuple(l)
print(d)

('2', '1', '5', '3', '8', '2', '4', '6', '0', '2', '4')

29. Convert a tuple of strings to a tuple of integers.

In [ ]:
t = ('2', '1', '5', '3', '8', '2', '4', '6', '0', '2', '4')
d = []
for i in t:
  d.append(int(i))
d

[2, 1, 5, 3, 8, 2, 4, 6, 0, 2, 4]

30. Merge two tuples.

In [ ]:
t = ('2', '1', '5', '3', '8', '2', '4', '6', '0', '2', '4')
d = (2,1,5,3,8,2,4,6,0,2,4)

f = t+d
print(f, end= "")

('2', '1', '5', '3', '8', '2', '4', '6', '0', '2', '4', 2, 1, 5, 3, 8, 2, 4, 6, 0, 2, 4)

31. Flatten a nested tuple.

In [ ]:
# Python3 code to demonstrate working of
# Flatten Nested Tuples
# Using recursion + isinstance()

# helper function
def flatten(test_tuple):

	if isinstance(test_tuple, tuple) and len(test_tuple) == 2 and not isinstance(test_tuple[0], tuple):
		res = [test_tuple]
		return tuple(res)

	res = []
	for sub in test_tuple:
		res += flatten(sub)
	return tuple(res)

# initializing tuple
test_tuple = ((4, 5), ((4, 7), (8, 9), (10, 11)), (((9, 10), (3, 4))))

# printing original tuple
print("The original tuple : " + str(test_tuple))

# Flatten Nested Tuples
# Using recursion + isinstance()
res = flatten(test_tuple)

# printing result
print("The flattened tuple : " + str(res))

The original tuple : ((4, 5), ((4, 7), (8, 9), (10, 11)), ((9, 10), (3, 4)))
The flattened tuple : ((4, 5), (4, 7), (8, 9), (10, 11), (9, 10), (3, 4))

32. Create a tuple of the first 5 prime numbers.

In [ ]:
a=[]
count = 0
for i in range(1,100):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    a.append(i)
    count += 1
  if count==5:
    break

print(tuple(a))

(1, 2, 3, 5, 7)

33. Check if a tuple is a palindrome.

In [ ]:
def ispalindrome(x):
  if x == x[::-1] :
    print(f"{x}Tuple is a palindrome")
  else:
    print(f"{x}Tuple is not a palindrome")

test_tuple = (1,2,3,4,5,6,7,6,5,4,3,2,1)
test_tuple2 = (1,2,3,4,5,3,2)

ispalindrome(test_tuple)
ispalindrome(test_tuple2)

(1, 2, 3, 4, 5, 6, 7, 6, 5, 4, 3, 2, 1)Tuple is a palindrome
(1, 2, 3, 4, 5, 3, 2)Tuple is not a palindrome

34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
list1 = []
for i in range(1,6):
  list1.append(i**2)

tuple1 = tuple(list1)
print(tuple1)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [ ]:
test_tuple = (1,2,3,4,5,6,7,6,5,4,3,2,1)
lst = []

for i in test_tuple:
  if i%2==0:
    lst.append(i)


print(tuple(lst))

(2, 4, 6, 6, 4, 2)

36. Multiply all elements in a tuple by 2.

In [ ]:
test_tuple = (1,2,3,4,5,6,7,6,5,4,3,2,1)
res = []

for i in test_tuple:
  res.append(i*2)

print(res)

[2, 4, 6, 8, 10, 12, 14, 12, 10, 8, 6, 4, 2]

37. Create a tuple of random numbers.

In [ ]:
tpl = (1,5,2,54523,645,473,2,646,425625,6256,425)
tpl

(1, 5, 2, 54523, 645, 473, 2, 646, 425625, 6256, 425)

38. Check if a tuple is sorted.

In [ ]:
tpl = (1,5,2,54523,645,473,2,646,425625,6256,425)
lt = list(tpl)
lt.sort()
print("Tuple is sorted" if tpl == tuple(lt) else "Tuple is not sorted")

Tuple is not sorted

39. Rotate a tuple to the left by `n` positions.

In [ ]:
tpl = (1,5,2,54523,645,473,2,646,425625,6256,425)
p = 3

tpl = tpl[3:]+tpl[:3]
tpl

(54523, 645, 473, 2, 646, 425625, 6256, 425, 1, 5, 2)

40. Rotate a tuple to the right by `n` positions.

In [ ]:
tpl = (1,5,2,54523,645,473,2,646,425625,6256,425)
p = 3

tpl = tpl[3:]+tpl[:3]
tpl

(54523, 645, 473, 2, 646, 425625, 6256, 425, 1, 5, 2)

41. Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
def make_fibonacci(n):
    a = [0, 1]
    [a.append(a[-1]+a[-2]) for i in range(n)]
    return tuple(a)

make_fibonacci(5)

(0, 1, 1, 2, 3, 5, 8)

42. Create a tuple from user input.

In [ ]:
import ast

# create a tuple from string user input

my_tuple = tuple(input('Enter space-separated words: ').split())

print(my_tuple)

# -------------------------------

# create a tuple from integer user input

user_input = input('Enter space-separated integers: ')

my_tuple = tuple(int(item) for item in user_input.split())

print(my_tuple)

Enter space-separated words: 2 23 4 2 1 4
('2', '23', '4', '2', '1', '4')
Enter space-separated integers: 42 4352 56 6 2
(42, 4352, 56, 6, 2)

43. Swap two elements in a tuple.

In [ ]:
from pickle import TUPLE3
tpl = (213,213124)
lt=list(tpl)

lt[0],lt[1]=lt[1],lt[0]

tpl=tuple(lt)
tpl

(213124, 213)

44. Reverse the elements of a tuple.

In [ ]:
tpl = (1,5,2,54523,645,473,2,646,425625,6256,425)
tpl[::-1]

(425, 6256, 425625, 646, 2, 473, 645, 54523, 2, 5, 1)

45. Create a tuple of the first `n` powers of 2.

In [ ]:
lt=[]
n=20
for i in range(n):
  lt.append(2**i)

print(tuple(lt))

(1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768, 65536, 131072, 262144, 524288)

46. Find the longest string in a tuple of strings.

In [ ]:
tupl=("Ram","Krishna","KEshav","SeetaRameshwar","Radha","Vithuraya")
max="Ram"
for i in tupl:
  if len(max)>len(i):
    max=max
  else:
    max=i
print("longest string:",max)

longest string: SeetaRameshwar

47. Find the shortest string in a tuple of strings.

In [ ]:
tupl=("Ram","Krishna","KEshav","SeetaRameshwar","Radha","Vithuraya")
min="Ram"
for i in tupl:
  if len(min)<len(i):
    min=min
  else:
    min=i
print("Shirtest string:",min)

Shirtest string: Ram

48. Create a tuple of the first `n` triangular numbers.

In [ ]:
limit = 10
triangle_nums = []
num = 0

for i in range(1, limit + 1):
    num += i
    triangle_nums.append(num)
print(triangle_nums)

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

49. Check if a tuple contains another tuple as a subsequence.

In [ ]:
my_tuple_1 = (87, 90, 31, 85)
my_tuple_2 = (34, 56, 12, 5)

print("The first tuple is :")
print(my_tuple_1)
print("The second tuple is :")
print(my_tuple_2)

my_result = set(my_tuple_2).issubset(my_tuple_1)

print("Is the second tuple a subset of the first tuple ? ")
print(my_result)

The first tuple is :
(87, 90, 31, 85)
The second tuple is :
(34, 56, 12, 5)
Is the second tuple a subset of the first tuple ?
False

50. Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
a = 0
b = 1
tp = []
n = 50
for i in range(n):
  if i%2==0:
    tp.insert(i,a)
  else:
    tp.insert(i,b)

tp = tuple(tp)
print(tp,end="")

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

#Set Based Assignment Problem :

1. Create a set with integers from 1 to 5.

In [ ]:
# create a set of integer type
student_id = {1,2,3,4,5}
print('Student ID:', student_id)

Student ID: {1, 2, 3, 4, 5}

2. Add an element to a set.

In [ ]:
# Add an element to a set.
student_id = {1,2,3,4,5}
student_id.add(90)
student_id

{1, 2, 3, 4, 5, 90}

3. Remove an element from a set.

In [ ]:
# Remove an element to a set.
student_id = {1,2,3,4,5}
student_id.remove(3)
student_id

{1, 2, 4, 5}

4. Check if an element exists in a set.

In [ ]:
# Check if an element exists in a set.
student_id = {1,2,3,4,5}
print("ELement is present in a set" if 3 in student_id else print("Not present"))

ELement is present in a set

5. Find the length of a set without using the `len()` function.

In [ ]:
st = {1, 3, 6, 10, 15, 21, 28, 36, 45, 55}
c = 0
for i in st:
  c+=1

c

10

6. Clear all elements from a set.

In [ ]:
st = {1, 3, 6, 10, 15, 21, 28, 36, 45, 55}
st.clear()
print(st)

set()

7. Create a set of even numbers from 1 to 10.

In [ ]:
st = {0}
for i in range(1,11):
  if i%2==0:
    st.add(i)
  else:
    continue

st

{0, 2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [ ]:
st = {1}
for i in range(1,11):
  if i%2!=0:
    st.add(i)
  else:
    continue

st

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [ ]:
A = {2, 4, 5, 6}
B = {4, 6, 7, 8}

print("A U B:", A.union(B))

A U B: {2, 4, 5, 6, 7, 8}

10. Find the intersection of two sets.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

11. Find the difference between two sets.

In [ ]:
# Python code to get the difference between two sets
# using difference() between set A and set B

# Driver Code
A = {10, 20, 30, 40, 80}
B = {100, 30, 80, 40, 60}
print (A.difference(B))
print (B.difference(A))

{10, 20}
{100, 60}

12. Check if a set is a subset of another set.

In [ ]:
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}

# all items of A are present in B
print(A.issubset(B))

True

13. Check if a set is a superset of another set.

In [ ]:
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}

print(A.issuperset(B))
print(B.issuperset(A))

True
False

14. Create a set from a list.

In [ ]:
A = [1, 2, 3, 4, 5]
print(set(A))

{1, 2, 3, 4, 5}

15. Convert a set to a list.

In [ ]:
A = {1, 2, 3, 4, 5}
B = list(A)
B

[1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [ ]:
A = {1, 2, 3, 4, 5}
A.pop()
A

{2, 3, 4, 5}

17. Pop an element from a set.

In [ ]:
A = {9, 2, 3, 4, 5}
A.pop()

2

18. Check if two sets have no elements in common.

In [ ]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "mango"}

z = x.intersection(y)
if z==set():
  print("No elements in common")

else:
  print('Elements are common')

No elements in common

19. Find the symmetric difference between two sets.

In [ ]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }
z=A.symmetric_difference(B)
z

{'a', 'b', 'e'}

20. Update a set with elements from another set.

In [ ]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }
A.update(B)
A

{'a', 'b', 'c', 'd', 'e'}

21. Create a set of the first 5 prime numbers.

In [ ]:
prime = {1}
c=0
for i in range(2,100):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    if c<=3:
      prime.add(i)
      c+=1
prime

{1, 2, 3, 5, 7}

22. Check if two sets are identical.

In [ ]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }

print("Sets are identical" if A==B else "Sets are not identical")

Sets are not identical

23. Create a frozen set.

In [ ]:
animals = frozenset(["cat", "dog", "lion"])
animals

frozenset({'cat', 'dog', 'lion'})

24. Check if a set is disjoint with another set.

In [ ]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }

print("True" if A.isdisjoint(B) else "False")

False

25. Create a set of squares of numbers from 1 to 5.

In [ ]:
A = set()
for i in range(1,6):
  A.add(i**2)

A

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [ ]:
A ={1, 4, 9, 16, 25}

for i in A:
  if i%2==0:
    print(i)

16
4

27. Multiply all elements in a set by 2.

In [ ]:
A ={1, 4, 9, 16, 25}
B=set()
for i in A:
  i=i*2
  B.add(i)

B

{2, 8, 18, 32, 50}

28. Create a set of random numbers.

In [ ]:
import random

randomlist = set()
for i in range(0,5):
  n = random.randint(1,30000)
  randomlist.add(n)
print(randomlist)

{6720, 18308, 22005, 12151, 28377}

29. Check if a set is empty.

In [ ]:
A ={6720, 18308, 22005, 12151, 28377}
if A == set():
  print("empty set")
else:
  print("not a empty set")

not a empty set

30. Create a nested set (hint: use frozenset).

In [ ]:
s = set()
s.add(frozenset((1,2)))
s.add(frozenset((2,3)))
s.add(frozenset((4,5)))
s

{frozenset({4, 5}), frozenset({2, 3}), frozenset({1, 2})}

31. Remove an element from a set using the discard method.

In [ ]:
A ={6720, 18308, 22005, 12151, 28377}
A.discard(18308)
A

{6720, 12151, 22005, 28377}

32. Compare two sets.

In [ ]:
A = {6720, 18308, 22005, 12151, 28377}
B = {6720, 12151, 22005, 28377}

if A==B:
  print("equal sets")
else:
  print("not equal sets")

not equal sets

33. Create a set from a string.

In [ ]:
# create a string str
string = "RUSHIKESH"
print("The datatype of string : " + str(type(string)))
print("Contents of string : " + string)

# convert String to Set
string = set(string)
print("\nAfter the conversion")
print("The datatype of string : " + str(type(string)))
print("Contents of string : ", string)

The datatype of string : <class 'str'>
Contents of string : RUSHIKESH

After the conversion
The datatype of string : <class 'set'>
Contents of string :  {'S', 'K', 'E', 'U', 'R', 'H', 'I'}

34. Convert a set of strings to a set of integers.

In [ ]:
A = { '1', '2' }
A = set(map(int,A))
A

{1, 2}

35. Convert a set of integers to a set of strings.

In [ ]:
A = {1, 2}
A = set(map(str,A))
A

{'1', '2'}

36. Create a set from a tuple.

In [ ]:
t = (1,2,3,4,5)

s = set(t)
s

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [ ]:
s = {1, 2, 3, 4, 5}

t = tuple(s)
t

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [ ]:
s = {1,2,3,4,1,2,2,3,24,3,4,4}
a = max(s)
a

24

39. Find the minimum value in a set.

In [ ]:
s = {1,2,3,4,1,2,2,3,24,3,4,4}
a = min(s)
a

1

40. Create a set from user input.

In [ ]:
my_set = set(input('Enter space-separated words: ').split())
my_set

Enter space-separated words:  12 3 54 53 rwgwgwg

{'12', '3', '53', '54', 'rwgwgwg'}

41. Check if the intersection of two sets is empty.

In [ ]:
L = {1,2,3,4,5,6}
M = {8,9,10}

a = L.intersection(M)
print("Empty set" if a==set() else "not empty set")

Empty set

42. Create a set of the first 5 Fibonacci numbers.

In [ ]:
st = set()
c = 0
a,b = 0,1
for i in range(0,100):
  if c == 6:
    break
  c+=1
  st.add(a)
  fb = a+b
  a=b
  b=fb

st

{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [ ]:
st = {1,2,32,1,3,2,32}
st

{1, 2, 3, 32}

44. Check if two sets have the same elements, regardless of their count.

In [68]:
st = {1,2,45,1,3,2,32}
s ={1, 2, 3, 32}

if st == s:
  print("two sets have same elements")
else:
  print("two sets don't have same elements")

two sets don't have same elements

45. Create a set of the first `n` powers of 2.

In [85]:
x = set()
n=10
for i in range(1,n+1):
  x.add(2**i)
print(x)

{32, 64, 2, 128, 4, 256, 512, 1024, 8, 16}

46. Find the common elements between a set and a list.

In [87]:
st2 = {32, 64, 2, 128, 4, 256, 512, 1024, 8, 16}
lt2 = [1,4,2,32,256,1024]

cmmn = st2.intersection(lt2)
cmmn

{2, 4, 32, 256, 1024}

In [ ]:
136
 23

47. Create a set of the first `n` triangular numbers.

In [88]:
trng = set()

n=8
a=0
for i in range(1,n+1):
  a=a+i
  trng.add(a)

trng

{1, 3, 6, 10, 15, 21, 28, 36}

48. Check if a set contains another set as a subset.

In [10]:
 A = {1, 6,2, 10, 15, 21,17, 28, 36}
B = {2,10,15,36}

print("True" if B.issubset(A) else "False")

True

49. Create a set of alternating 1s and 0s of length `n`.

In [19]:
abc = set()
n=20
for i in range(1,n+1):
  if i%2==0:
    abc.add(1)
    continue
  else:
    abc.add(0)

abc

# as sets can't have duplicate entries, in output we can see only 1 and 0.

{0, 1}

50. Merge multiple sets into one.

In [25]:
s1 = {1, 3, 6, 10, 15, 21, 28, 36}
s2 ={1,7,2,5,2,4}
s3 = {234,34525,2345,34,5,345}

s1 = s1.union(s2,s3)
s1

{1, 2, 3, 4, 5, 6, 7, 10, 15, 21, 28, 34, 36, 234, 345, 2345, 34525}